/* ============================================================================================ */

/* Start Variabls */
:root{
    --main-color: rgb(30, 54, 106);
    --main-color-alt: #CA5702;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec
}
/* End Variabls */

/* ============================================================================================ */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Amiri', serif; 
    text-transform: capitalize;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: var(--main-color);
}

/* End Global Rules */


/* ============================================================================================ */

/* Start Header */
.container {
    width: 80vw;
    max-width: 100vw;
}
@media (max-width:480px) {
    .container {
        width: 100vw;
    }
}
header {
    background-color: white;
    position: relative;
    padding-bottom: 0;
}

header .container {
    padding-bottom: 0;
    bottom: 0;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(30, 54, 106) 0%, rgb(30, 54, 106) 1%, rgb(204, 87, 1) 100%);
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}
header .container .info {
    background: linear-gradient(45deg, rgb(30, 54, 106) 0%, rgb(30, 54, 106) 1%, rgb(204, 87, 1) 100%);
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 -5px 40px 7px rgb(0 0 0 / 8%);
    
}
header .container .info h2 {
    color: #fff;
    font-weight: 400;
    padding-top: 50px;
}
header .container .info h6 {
    padding: 0 0 12px 0;
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
    max-width: 170px;
    margin: 0 auto 10px;
    opacity: 0.75;
    font-size: 13px;
}
header .container .info .contact {
    display: flex;
    justify-items: center;
    align-items: center;
}
header .container .info .contact .box {
    flex: 1 0 50%;
    border: 1px solid rgba(255,255,255,0.15);
}
header .container .info a {
    color: #fff;
    padding: 10px 0;
    min-width: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
header .container .info a i {
    /* color: rgb(30, 54, 106); */
}
header .container .info small {}
/* End Header */
/* Start content */
.content .container {
    margin: 0 auto;
    box-shadow: 0 -5px 40px 7px rgb(0 0 0 / 8%);
}
.content .container .content-row{
    padding: 10px 20px 10px 20px;
}
.content .container .content-row p.center{
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    color: var(--main-color);
}
.content .container .content-row h4{
    font-weight: normal;
    font-size: 16px;
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.6;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

.content .container .content-row small{
    margin-left: 5px;
    color: #777777;
}
.content .container .box{
    display: flex;
    gap: 10%;
    align-items: center;
}
@media (max-width:370px) {
    .content .container .box{
        gap: 1%;
    }
}
.content .container i {
    font-size: 18px;
    margin: 0 14px 0 20px;
    color: var(--main-color-alt);
}
.content .container .content-row:last-child {
    padding-bottom: 40px;
}
footer {
    text-align: center;
    position: relative;
    bottom: 0;
}
footer .container {
    background: linear-gradient(45deg, rgb(30, 54, 106) 0%, rgb(30, 54, 106) 1%, rgb(204, 87, 1) 100%);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
    margin-bottom: 0;

}
footer .container h4 {
    
    color: white;
}
